<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>You are now part of the Crowd, <%= @user.name %>!</h1>
<p>
  You have successfully funded <%= @project.name %>.
  Your fund was worth <%= @promise.price %>.<br>.
</p>
<p>Thanks for finding your crowd, and have a great day!</p>
</body>
</html>