
<div class="jumbotron text-center">
  <h1>Wishes</h1>
</div>

<div class="container">
<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    height: 50px;
  }
</style>
<table class="table">
  <thead>
    <tr>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wishes.each do |wish| %>
      <tr>
        <td><%= wish.project.name %></td>
        <td><%= link_to 'Destroy', '/users/' +  current_user.id.to_s + '/wishes/' + wish.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>