
<div class="jumbotron text-center">
  <h1>Crowd Finder</h1>
  <p>"Find the crowd to fund you!"</p>
</div>

<div class="container">
  <h2>Outstanding Projects</h2>
  <div class="row">
    <div class="col-sm-4">
      <h3>Bamboozled</h3>
      <p>Board Games, Entertainment.</p>
      <p>A Board game that mixes quick moves and fast paced trivia questions. Play with your family and friends.</p>
      <p>@JTribbiani</p>
    </div>
    <div class="col-sm-4">
      <h3>Paper Aeroplane Book</h3>
      <p>Books, Arts and Crafts.</p>
      <p>A children's book with different aeroplane models with style options and flight tips.</p>
      <p>@BenjaminP</p>
    </div>
    <div class="col-sm-4">
      <h3>Explore</h3>
      <p>Board Games, Roleplaying Games.</p>
      <p>A tabletop roleplaying game based on exploration and survival in a medieval fantasy setting.</p>
      <p>@Mechero</p>
    </div>
  </div>
</div>
