<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="application.scss">
    <title>Crowd finding</title>
</head>
<body>
    <h1>CROWD FINDING</h1>
    <h5>Members: Benjamin Perez & Francisco Alvarez</h5>
    <a href="/projects">projects</a>
    <a href="/users/sign_up" class="btn-default">Sing up</a>
</body>
</html>